<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Error</title>
    </head>
<body>
<div th:insert="fragments/components :: menu"></div>
<main class="container" role="main">
    <div class="container-fluid text-center">
        <h1>The page you are looking for does not exist or you do not have permission to access.</h1>
    </div>
</main>
<br><br>
</body>
</html>