<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<div th:insert="fragments/components :: menu"></div>
<main class="container" role="main">
    <div class="container-fluid text-center">
        <h1>Welcome to Library!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda deserunt eaque eum illo itaque labore non repudiandae voluptas. Cumque.</p>
        <hr>

        <div class="row">
            <table class="table table-striped " style="margin: auto; width: 30% !important;">
                <tbody>
                <tr>
                    <th scope="row" >Logged User</th>
                    <td sec:authentication="name"></td>
                </tr>
                <tr>
                    <th scope="row">User Role</th>
                    <td sec:authentication="principal.authorities"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<br><br>
<div th:insert="fragments/components :: footer"></div>
</body>
</html>