<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Publishers</title>
</head>
<body>
<div th:insert="fragments/components :: menu"></div>
<div class="container">
    <h2>Publishers</h2>
    <a th:href="@{/publishers/new}">
        <button type="button" class="btn btn-outline-secondary">Add Publisher</button>
    </a>
    <hr>
    <div th:if="${param.true}">
        <h4>Deleted.</h4>
    </div>
    <div th:if="${param.false}">
        <h4>Error.</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="font-weight: bold;">
                    <td scope="col">Id</td>
                    <td scope="col">Name</td>
                    <td scope="col">About</td>
                    <td></td>
                    <td scope="col" sec:authorize="hasRole('ADMIN')"></td>
                </tr>
            </thead>
            <tbody>
            <tr th:each="publisher:${publishers}">
                <td th:text="${publisher.id}"></td>
                <td th:text="${publisher.name}"></td>
                <td th:text="${publisher.comment}"></td>
                <td>
                    <a th:href="@{/publishers/edit/{id}(id=${publisher.id})}">
                        <button class="btn btn-primary pull-right">Edit Publisher</button>
                    </a>
                </td>
                <td scope="col" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/publishers/delete/{id}(id=${publisher.id})}">
                        <button class="btn btn-danger pull-right">Delete Publisher</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="fragments/components :: footer"></div>
</body>
</html>